
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.logo {
  height: 75px;
  padding: 15px;
}

.header {
  font-size: 30px;
  color: #008403;
  font-family: serif;
}

.nav {
  font-size: 20px;
  color: #008403;
  font-family: 'Karla', sans-serif;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.banner {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.banner-text {
  position: absolute;
  top: 60px;
  left: 80px;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  padding: 40px 40px;
}

.legacy {
  padding-top: 110px;
}
h2 {
  font-size: 55px;
  font-weight: bolder;
  color: #381893;
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding: 20px;
}
