
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.logo {
  height: 75px;
  padding: 15px;
}

.header {
  font-size: 30px;
  color: #008403;
  font-family: serif;
}

.nav {
  font-size: 20px;
  color: #008403;
  font-family: sans-serif;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.banner {
  position: relative;
  width: 100%;
}
.banner-text {
  position: absolute;
  top: 60px;
  left: 80px;
  color: white;
  font-family: serif;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 10px;
}

h2 {
  font-size: 45px;
  color: #1A7D07;
  font-family: serif;
  text-align: center;
}
